// Global Sass variables

// font embed :: google webfont
// @import 'http://fonts.googleapis.com/earlyaccess/notosanskr.css';

// 'Noto Sans KR'
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// Pretendard
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

// fonts
$font-main: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-size: 100%;

// colors
$color-text: #0a0a0a;
$color-code: #eee;
$color-link: #333;
$color-point-1: #01c559;
$color-point-2: #cf4040;
$color-grey: #ebeef3;