// header
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all .2s ease-in-out;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    height: 60px;
    margin: 0 auto;
  }

  h1 {
    display: flex;
    align-items: center;
    a {
      display: block;
      width: 100px;
      height: 18px;
      background-image: url("../images/logo.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    span {
      margin-left: 14px;
      color: #000;
      font-size: rem(18);
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -0.54px;
    }
  }

  .top-utill {
    display: flex;
    align-items: center;
    li {
      margin: 0 5px;
      a {
        display: flex;
        align-items: center;
        height: 37px;
        padding: 0 12px;
        color: #52575f;
        font-size: rem(15);
        line-height: 1.2;
        letter-spacing: -0.45px;
        border-radius: 8px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }

  // active
  &.active {
    background-color: #fff;
  }

}
