// CSS Grid layout
html,
body {
  height: 100%;
}

body {

  background-color:#fff;

  &.over-hidden {
    overflow: hidden;
  }
}

// wrap
#wrap {
  
}


.notification-box {
  .dim {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index: 10;
  }
  .notification-con {
    position: fixed;
    left:0;
    right:0;
    bottom:-100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 33px 16px;
    background-color:#fff;
    border-radius: 12px 12px 0 0;
    z-index: 11;
    transition: all .2s ease-in-out;
  }

  // active
  &.active {
    .dim {
      display: block;
    }
    .notification-con {
      bottom: 0;
    }
  }
}

// container
.container {
  max-width:760px;
  margin:0 auto;
}

// banner-type
.banner-type-1 {
  background-color: #f0f8ff;
  .container {
    position: relative;
    display: flex;
    padding: 80px 0;
    .image {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}