<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title><!--@@var title-->PLAND</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
  
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <!-- wrap -->
  <div id="wrap">

    <header id="header">
      <div>
        <h1>
          <a href="" class="logo"></a>
          <span>광고주 지원센터</span>
        </h1>
        <ul class="top-utill">
          <li><a href="">지원 케이스</a></li>
          <li><a href="">가이드</a></li>
          <li><a href="">플랜디 바로가기</a></li>
        </ul>
      </div>
    </header>

    <div id="container">
      <!--@@placeholder = contents -->
    </div>

    <footer id="footer">
      <div>
        <h2>주식회사 디어커스</h2>
        <address>본사 : 서울특별시 마포구 동교로 12길 6, 3층</address>
        <div class="foot-info">
          <p>대표 : 정현민</p>
          <p>개인정보관리자 : 박세준</p>
          <p>사업자등록번호 : 306-81-37291</p>
          <p>통신판매업신고 : 제 2020-서울마포-0192호</p>
        </div>
        <div class="foot-copy-utill">
          <p>Copyright ⓒ Dearcus.Co ALL RIGHT RESERVED</p>
          <a href="">서비스이용약관</a>
          <a href="">개인정보처리방침</a>
        </div>
      </div>
    </footer>
  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="./js/jquery-1.12.4.js"></script>
  <script src="./js/ui_js.js"></script>

  <!--@@placeholder = script -->
</body>

</html>